<div class="container">
  <h2>Chatroom</h2>
</div>

<div class="container">

  <div style="margin-right: 40px;">

    <div style="margin-bottom: 10px;">
      <h3>Privater Chat (Anmeldung erforderlich)</h3>
      <input style="width: 300px;" [ngModel]="userName" disabled>
    </div>

    <div>
      <div class="chatroom" id="chatContainer">
        <div *ngFor="let chatMessage of chatmessages">
          <div class="message-container" [ngClass]="{'ownmessage-container': cognitoId === chatMessage.cognitoId}">
            <span class="message-name" [ngClass]="{'ownmessage-name': cognitoId === chatMessage.cognitoId}">{{chatMessage.absender}}</span>
            <span class="message" [ngClass]="{'ownmessage': cognitoId === chatMessage.cognitoId}">{{chatMessage.inhalt}}</span>
          </div>
        </div>
      </div>
    </div>

    <div style="display: flex">
      <input style="width: 100%" [(ngModel)]="chatInput">
      <button (click)="sendMessage()">Senden</button>
    </div>
  </div>

  <div style="margin-right: 40px;">

    <div style="margin-bottom: 10px;">
      <h3>Öffentlicher Chat (Namen eingeben erforderlich)</h3>
      <input style="width: 300px;" [(ngModel)]="publicUserName">
    </div>

    <div>
      <div class="chatroom" id="publicChatContainer">
        <div *ngFor="let chatMessage of publicChatMessages">
          <div class="message-container" [ngClass]="{'ownmessage-container': publicUserName === chatMessage.absender}">
            <span class="message-name" [ngClass]="{'ownmessage-name': publicUserName === chatMessage.absender}">{{chatMessage.absender}}</span>
            <span class="message" [ngClass]="{'ownmessage': publicUserName === chatMessage.absender}">{{chatMessage.inhalt}}</span>
          </div>
        </div>
      </div>
    </div>

    <div style="display: flex">
      <input style="width: 100%" [(ngModel)]="publicChatInput">
      <button (click)="sendPublicMessage()">Senden</button>
    </div>
  </div>

</div>

<amplify-authenticator>
  <amplify-sign-up slot="sign-up" usernameAlias="email" [formFields]="authService.signUpConfig"></amplify-sign-up>
  <amplify-sign-in slot="sign-in" usernameAlias="email"></amplify-sign-in>
</amplify-authenticator>

<amplify-sign-out></amplify-sign-out>
