.container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.chatroom {
  border: 1px solid black;
  width: 400px;
  height: 500px;
  overflow: auto;
  display: flex;
  padding: 20px 5px;
  flex-direction: column;
}

.message {
  display: inline-block;
  padding: 5px 12px;
  border-radius: 15px;
  background-color: lightgray;
}

.message-container {
  display: inline-block;
  margin-bottom: 10px;
  max-width: 280px;
}

.ownmessage-container {
  float: right;
}

.ownmessage {
  display: inline-block;
  background-color: lightblue !important;
}

.message-name {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  color: gray;
}

.ownmessage-name {
  text-align: right;
  margin-right: 5px;
}
